body {
    background-color: #C9A063;
    font-family: 'Times New Roman', Times, serif;
    text-align:center;
}
h1, h2, h3, h4, h5, h6 {
    color: #008FCF;

}
p {
    color: whitesmoke;
    
    font-size: larger;
}
.column {
    float:left;
    width: 49.5%;
    padding: 0px 2px;
}
.row{
    margin: 0px -5px;
    text-align:center;
}
.row:after {
    content: close-quote;
    display: table;
    clear: both;
}

.card{
    box-shadow: 0px 4px 8px 0 rgba(0,0,0,0.2);
    padding: 16px;
    text-align: center;
    background-color: whitesmoke;
}

@media screen and (max-width: 600px){
    .column{
        width:95%;
        display:block;
        margin-bottom: 20px;
    }
}