/*HTML Section*/
body {
    /*background-color: #008FCF;*/
    /*Background color: rainbow*/
    background-image: linear-gradient(to right, rgba(255,0,0,0.4), rgba(255,165,0,0.4), rgba(255,255,0,0.4), rgba(165,255,0,0.4),
                        rgba(0,255,0,0.4), rgba(0,255,165,0.4), rgba(0,255,255,0.4), rgba(0,165,255,0.4), rgba(0,0,255,0.4));
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

/*Class Section*/
.column {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;
    padding: 2px 2px;
}

.columnImage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 2px 2px;
    margin-left:20px;
}
.row {
    margin: 0px -5px;
    text-align: center;
}
row:after {
    content: close-quote;
    display: table;
    clear: both;
}

.textBG {
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: xx-large;
}
