/*HTML Section*/
body {
    /*background-color: #008FCF;*/
    /*Background color: rainbow*/
    background-image: linear-gradient(to right, red, orange, yellow, green, teal, blue);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

/*Class Section*/
.column {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;
    padding: 2px 2px;
}

.columnImage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 2px 2px;
    margin-left:20px;
}
.row {
    margin: 0px -5px;
    text-align: center;
}
row:after {
    content: close-quote;
    display: table;
    clear: both;
}

