body, html {
    height: max-content;
}

body {
    background-color: whitesmoke;
}

header, footer {
    display: block;
    /*background-color: #008FCF;*/
    /*color: whitesmoke;*/
}

.vertical {
    writing-mode:vertical-rl;
    text-orientation: upright;
}

.centered{
    text-align:center;
}

h1 {
    color: #008FCF;
}
p {
    color: #CEA633;
    font-family: 'Times New Roman', Times, serif;
}
/*nav {
    background-color: #CEA633;
}*/

ul {
    list-style-type:none;
    margin: 10px;
    padding: 0px;
    overflow: hidden;
}

li {
    display: inline;
}

/* The hero image */
.hero-image {
    /* Use "linear-gradient" , to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Media/Images/World.jpg");
    /* Set a specific height */
    height: 300px;
    display: flex;
    justify-content: center;
    align-content: center;
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    color: white;
}