body, html {
    height: max-content;
}

body {
    background-color: whitesmoke;
}

header, footer {
    display: block;
    /*background-color: #008FCF;*/
    /*color: whitesmoke;*/
}



/*.IntroBannerPic {

}*/

.container {
    background-image: src(Media/Images/World.jpg);
    position: relative;
    text-align: center;
    color: whitesmoke;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.vertical {
    writing-mode:vertical-rl;
    text-orientation: upright;
}

h1 {
    color: #008FCF;
}
p {
    color: #CEA633;
    font-family: 'Times New Roman', Times, serif;
}
/*nav {
    background-color: #CEA633;
}*/

ul {
    list-style-type:none;
    margin: 10px;
    padding: 0px;
    overflow: hidden;
}

li {
    display: inline;
    float:left;
}

/* The hero image */
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcQ5aULg3WcJm0QJMJ-olk9HagB3s5cD1sMg&s");
    /* Set a specific height */
    height: 50%;
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
}
.hero-text button:hover {
    background-color: #555;
    color: white;
}
