header, footer {
    display: block;
    background-color: #008FCF;
    color:whitesmoke;
    
}
body {
    background-color: whitesmoke;
}
h1 {
    color: #008FCF;
}
p {
    color: #CEA633;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}
nav {
    color: #CEA633;
}

ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display: inline;
    float:left;
}